@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="my-4">
            @Body
        </MudContainer>
        
        <div class="footer">
            <MudText Typo="Typo.body2" Align="Align.Center">
                Wojciech Górczyński &copy; 2025 - Built with MudBlazor
            </MudText>
        </div>
    </MudMainContent>
</MudLayout>