@using Microsoft.AspNetCore.Components.Routing
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
</head>
<body>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <p>Page not found</p>
        </NotFound>
    </Router>
    
    <script src="_framework/blazor.web.js"></script>
</body>
</html>