@page "/"

@using Chess.Backend.Engine;
@using Chess.Backend.Core;
@using System.Diagnostics;

<PageTitle>Chess</PageTitle>

@code {
    Board board = new Board(PositionLoader.LoadBoardSetup("Backend\\boardSetup.json"));
}

<div class="chess-board">
    @for (var row = 7; row >= 0; row--)
    {
        <div class="board-row">
            @for (var col = 0; col < 8; col++)
            {
                var piece = board.GetPieceAt(col, row);
                <button> 
                    @piece?.UnicodeIcon() 
                    @if (col == 7)
                    {
                        <span class="row-number">@(row + 1)</span>
                    }
                    @if (row == 0)
                    {
                        <span class="col-letter">@((char)('a' + col))</span>
                    }
                </button>
            }
        </div>
    }
</div>